*{
    padding:0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(230, 203, 191);
}
.conteudo{
    left: 50%;
    margin: 40px 0 0 -250px;
    position: absolute;
    width: 500px;
    background: rgb(230, 203, 191);
}
.calendario{
    text-align: center;
}
.conteudo .calendario header{
    background: rgb(230, 203, 191);
    position: relative;

}
h2{
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(158, 87, 87);
}
.btn-ant,.btn-prox{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid rgb(102, 75, 75);
    border-radius: 50%;
    color: rgb(138, 94, 94) ;
    font-size: 20px;
    font-weight: bold;
}
.btn-ant{
    left: 80px;
    cursor: pointer;
}
.btn-prox{
    right: 80px;
    cursor: pointer;
}
.btn-ant:hover,.btn-prox:hover{
    background:rgb(235, 194, 194) ;
}
.calendario table{
    margin-top: 20px;
    border-collapse:collapse ;
    background: rgb(188, 143, 143);
}
.calendario thead{
    background: rgb(188, 143, 143);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(182, 102, 102);
}
.calendario td{
    border: 1px solid rgb(206, 158, 158);
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgb(233, 224, 224) ;
    color: rgb(209, 160, 160);
}

.today {
    background-color: rgb(138, 94, 94); 
    font-weight: bold; 
    color: black; 
}

.calendario .mes-anterior, .calendario .proximo-mes{
    color: rgb(131, 116, 116);
    background: rgb(188, 143, 143);
}
.calendario .mes-anterior:hover, .calendario .proximo-mes:hover{
    background: #7b7d83;;
    color: #7b7d83;
}
.event{
    position: relative;
}

.event:after{
    content:'';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: rgb(139, 77, 77);
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background: white;
}
/* Caixa lateral */
.hidden {
    display: none;
  }

.task-box {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 100%;
    padding: 20px;
    display: none; 
    
  }
.task-box h2 {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    font-size: medium;

}  
.task-box.show {
    display: block;
    background-color: rgb(151, 97, 97); !important; /* Cor de fundo da caixa */
    background-image: none;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Lista de tarefas */
.task-list {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

/* Estilizar os itens da lista */
.task-list li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid #d30a0a; 
}

/* Estilizar o checkbox */
.task-list input[type="checkbox"] {
    appearance: none;
    width: 20px; 
    height: 20px; 
    border: 2px solid rgb(138, 94, 94); 
    border-radius: 4px; 
    cursor: pointer; 
    position: relative; 
}

/* Estilo quando o checkbox está marcado */
.task-list input[type="checkbox"]:checked {
    background-color: rgb(153, 131, 131);
}

/* Criar um "check" personalizado */
.task-list input[type="checkbox"]:checked::after {
    content: ''; 
    position: absolute;
    left: 4px; 
    top: 0; 
    width: 10px; 
    height: 20px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
}
.task-list li:last-child {
    border-bottom: none;
  }
  
  /* Input e o botão */
#new-task {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
#add-task {
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #add-task {
    background-color: #a55757;
    color: #000;
  }
